<!DOCTYPE html>
<html lang="ru">

{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">


        <h1>{{ post.title }}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
        {% endif %}
        {% if not post.published_date %}
             <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        </h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}

        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}